/*
    CSS rules to specify families

    Titulos:
    font-family: 'EB Garamond', serif;

    Corpo:
    font-family: 'Cormorant Garamond', serif;

    Extra:
    font-family: 'Courgette', cursive;
*/

body {
    color: black;
}

#navbar {
    background-color: #AA51D4;
    border-bottom: #8937BF solid;
}

#tituloHM {
    line-height: 1;
    font-family: 'EB Garamond', serif;
    color: black;
}

#logoHM {
    width: 50px;
}

#btnruinasdomedo {
    font-family: 'Courgette', cursive;
    font-size: 20px;
}

#radionavbar .btn {
    border: none;
}

#redatorheadline {
    background-color: #DD7EFA;
    padding-top: 6rem;
    padding-bottom: 6rem;
    border-bottom: solid;
}